*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  body{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
    background: url(register.jpg) no-repeat;
    background-size: cover;
    background-position: center;
  }
  .input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255,255,255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #2d509a;
    padding: 20px 45px 20px 20px;
  }
  
  .input-box input::placeholder{
    color: #fff;
  }
  
  .input-box i{
    position: absolute;
    right: 20px;
    top: 30%;
    transform: translate(-50%);
    font-size: 20px;
  }
  
  .remember-forgot a{
    accent-color: #fff;
    text-decoration: none;
  }
  
  .input-box input[type="email"]::placeholder,
  .input-box input[type="text"]::placeholder,
  .input-box input[type="password"]::placeholder{
    color:rgb(205 67 17);
  }
  
  .input-box i.bxs-envelope,
  .input-box i.bxs-lock-alt {
    position: absolute;
    right: 20px;
    top: 30%;
    transform: translate(-50%);
    font-size: 20px;
  }
  
  .register-form{
    width: 420px;
    background: transparent;
    border: 2px solid rgba(255,255,255, .2);
    /* border-radius: 213px; */
    padding: 40px;
    backdrop-filter: blur(9px);
    margin-left: 33%;
    margin-top: -9%;
  }
  
  .register-form h1{
    font-size: 36px;
    text-align: center;
    font-weight: bold;
    
  }
  
  .register-form .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
  }
  
  .register-form .remember-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
  }
  
  .register-form label input{
    accent-color: #fff;
    margin-right: 3px;
  }
  
  .remember-forgot a{
    color: #fff;
    text-decoration: none;
  }
  
  .remember-forgot a:hover{
    text-decoration: underline;
  }
  
  .register-form .btn{
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
  }
  
  .register-form .register-link{
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
  }
  
  .register-link p a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
  }
  
  .register-link p a:hover{
    text-decoration: underline;
  }
  
  .register-form .register-link p a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
  }
  
  .register-form .register-link p a:hover{
    text-decoration: underline;
  }
  