* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
  }
body{
    display: flex;
    background-image: url(trains/693500.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}