:root{
    --primary-color: #a855f7;
    --primary-color-dark: #791bd0;
    --secondary-color: #ca8104;
    --max-width: 1200px;
}
  
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

nav {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ffffff;
    z-index: 99;
}
  
.nav__content {
    max-width: var(--max-width);
    margin: auto;
    padding: 1.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
  
nav .logo a {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--primary-color);
    transition: 0.3s;
    text-decoration: none;
}
  
nav .logo a:hover {
    color: var(--primary-color-dark);
}
  
nav .checkbox {
    display: none;
}
  
nav input {
    display: none;
}
nav .checkbox i {
    font-size: 2rem;
    color: var(--primary-color);
    cursor: pointer;
}
ul {
    display: flex;
    align-items: center;
    gap: 1rem;
    list-style: none;
    transition: left 0.3s;
}
  
ul li a {
    padding: 0.5rem 1rem;
    border: 2px solid transparent;
    text-decoration: none;
    font-weight: 600;
    color: var(--text-dark);
    transition: 0.3s;
}
  
ul li a:hover {
    border-top-color: var(--secondary-color);
    border-bottom-color: var(--secondary-color);
    color: var(--secondary-color);
}

nav > .modify_search_bar{
    max-width: 100%;
    max-height: 100%;
    background-color: #791bd0;
}

.modify_search_bar form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 10em;
    background-color: #a855f7;
    
}
.modify_search_bar .from_TO_Station{
    margin-top: 10em;
}

.modify_search_bar input{
    display: absolute;
    align-items: center;
    background-color: bisque;
    color: red;
    margin: 10px;
    padding: 15px;
    border-radius: 25px;
    border: none;
    font-size: 15px;
}

input[type="text"]::placeholder{
    color: rgb(212, 18, 34);
}

.modify_search_bar button{
    padding: 10px;
    margin: 10px;
    display: flex;
    justify-content: center;
    background-color: orange;
    color: white;
    font-size: 16px;
    border-radius: 30px;
    border: none;
    font-weight: 700;
}

.modify_search_bar button:hover{
    cursor: pointer;
}